@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fafafa;
  background: #fafafa;
}

.custom-swiper-button::after {
  content: "";
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
p {
  font-weight: 400;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

p {
  font-size: 18px;
}

