@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #FAFAFA;
  --background-start-rgb: #FAFAFA;
  --background-end-rgb: #FAFAFA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #FAFAFA;
    --background-start-rgb: #FAFAFA;
    --background-end-rgb: #FAFAFA;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-start-rgb);
}

.custom-swiper-button::after {
  content: "";
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
